<div style="width: 650px; height: 335px; overflow-y: scroll;">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="title" scope="col">Estados</th>
        <th class="title" scope="col">Recuperados</th>
        <th class="title" scope="col">1ª Dose</th>
        <th class="title" scope="col">2ª Dose</th>
        <th class="title" scope="col">3ª Dose</th>
        <th class="title" scope="col">Única</th>
        <th class="title" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/AC.png"
            alt="Image"
            width="18"
          />
          AC
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">119.470</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">679.357</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">578.221</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">298.938</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">13.451</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.569.967</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/AL.png"
            width="18"
          />
          AL
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">286.515</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.602.988</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.266.136</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.428.981</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">58.151</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">6.356.256</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/AM.png"
            width="18"
          />
          AM
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">559.537</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.290.642</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.744.300</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.518.689</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">84.223</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">7.637.854</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/AP.png"
            width="18"
          />
          AP
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">126.023</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">592.485</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">495.658</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">228.717</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">16.679</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.333.539</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/BA.png"
            width="18"
          />
          BA
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.484.295</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">11.663.801</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">10.546.781</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">7.885.608</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">283.393</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">30.379.583</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/CE.png"
            width="18"
          />
          CE
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.110.838</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">8.187.134</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">7.622.659</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">5.273.097</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">250.491</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">21.333.381</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/DF.png"
            width="18"
          />
          DF
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">672.192</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.595.980</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.390.929</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.838.982</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">66.512</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">6.892.403</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/ES.png"
            width="18"
          />
          ES
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">961.369</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.426.882</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.060.000</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.240.057</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">126.919</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">8.853.858</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/GO.png"
            width="18"
          />
          GO
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.176.485</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">5.848.607</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">5.282.079</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.409.128</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">164.734</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">14.704.548</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/MA.png"
            width="18"
          />
          MA
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">402.551</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">5.698.685</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">4.598.644</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.308.009</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">126.888</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">12.732.226</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/MG.png"
            width="18"
          />
          MG
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.112.513</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">18.074.903</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">16.494.172</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">13.356.130</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">521.701</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">48.446.906</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/MS.png"
            width="18"
          />
          MS
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">496.655</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.252.023</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.960.517</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.356.541</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">258.398</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">5.827.479</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/MT.png"
            width="18"
          />
          MT
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">715.724</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.806.494</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.497.567</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.306.848</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">97.854</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">6.708.763</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/PA.png"
            width="18"
          />
          PA
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">693.000</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">6.869.551</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">6.487.832</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.424.622</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">144.987</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">15.926.992</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/PB.png"
            width="18"
          />
          PB
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">429.753</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.547.278</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.281.445</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.281.201</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">85.983</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">9.195.907</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/PE.png"
            width="18"
          />
          PE
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">699.477</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">8.417.006</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">7.494.621</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">5.453.472</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">192.926</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">21.558.025</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/PI.png"
            width="18"
          />
          PI
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">358.596</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.163.444</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.834.202</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.430.369</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">56.522</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">8.484.537</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/PR.png"
            width="18"
          />
          PR
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.938.499</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">10.094.344</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">9.693.634</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">7.330.696</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">338.129</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">27.456.803</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/RJ.png"
            width="18"
          />
          RJ
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.948.731</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">14.460.733</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">13.371.824</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">10.134.437</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">402.040</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">38.369.034</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/RN.png"
            width="18"
          />
          RN
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">379.975</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.942.145</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.769.365</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.006.352</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">68.761</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">7.786.623</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/RO.png"
            width="18"
          />
          RO
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">358.683</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.307.494</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.149.530</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">584.099</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">37.966</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.079.089</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/RR.png"
            width="18"
          />
          RR
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">151.889</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">441.294</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">343.258</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">134.264</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">11.436</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">930.252</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/RS.png"
            width="18"
          />
          RS
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.146.461</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">9.750.126</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">9.236.752</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">7.284.294</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">330.054</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">26.601.226</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/SC.png"
            width="18"
          />
          SC
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.607.144</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">6.290.437</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">5.750.866</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">3.653.561</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">277.356</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">15.972.220</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/SE.png"
            width="18"
          />
          SE
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">313.577</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.982.257</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.819.340</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.348.748</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">42.257</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">5.192.602</span>
        </td>
      </tr>
      <tr>
        <td class="tg-6mkc">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/SP.png"
            width="18"
          />
          SP
        </td>
        <td class="tg-pw10">
          <span style="background-color:var(--bs-table-bg)">4.850.000</span>
        </td>
        <td class="tg-pw10">
          <span style="background-color:var(--bs-table-bg)">42.474.792</span>
        </td>
        <td class="tg-pw10">
          <span style="background-color:var(--bs-table-bg)">39.984.650</span>
        </td>
        <td class="tg-pw10">
          <span style="background-color:var(--bs-table-bg)">27.337.218</span>
        </td>
        <td class="tg-pw10">
          <span style="background-color:var(--bs-table-bg)">1.277.906</span>
        </td>
        <td class="tg-pw10">
          <span style="background-color:var(--bs-table-bg)">111.074.566</span>
        </td>
      </tr>
      <tr>
        <td class="tg-zbju">
          <img
            src="https://cdn.jsdelivr.net/gh/bgeneto/bandeiras-br/imagens/TO.png"
            width="18"
          />
          TO
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">281.464</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">1.161.398</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">998.314</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">499.259</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">56.162</span>
        </td>
        <td class="tg-av16">
          <span style="background-color:var(--bs-table-bg)">2.715.133</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
